body {
    font-family: "Palatino", serif;
    font-size: 12pt;
}

code {
    font-family: "Monaco", monospace;
}

h1 {
    color: #162a52;
    margin-top: 1em;
    font-size: 16pt;
}  

h2 {
    color: #48597e;
    margin-top: 1em;
    font-size: 14pt;
}  

a {
    color: #162a52;
  }
  
  a:visited{
    color: #162a52;
  }
  
.largertitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    border-bottom: 3px solid;
    border-color: #000000;
    padding-top: .5em;
    padding-bottom: .5em;
}  

.topnav {
    background-color: #07132d;
    color: #ffffff;
}

.topnav a {
    color: #bdd5e0;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.topnav a:visited {
    color: #bdd5e0;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.topnav a:hover {
    background-color: #bdd5e0;
    color: #07132d;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#content {
margin: 0 auto;
max-width: 64em;
}

button {
    font-family: "Palatino", serif;
    font-size: 17px;
    padding: 12px 24px;
    background-color: #bdd5e0; 
    color: #162a52;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    font-family: "Palatino", serif;
    background-color: #162a52;
    color: #bdd5e0;
}

button:disabled {
    font-family: "Palatino", serif;
    background-color: #647176;
    color: #383f42;
}


textarea {
    font-family: "Palatino", serif;
    font-size: 12px;
    width: 75%;
    margin: 0 auto 10px auto;  
    display: block; 
    resize: none;
    height: auto;
}
