body {
    font-family: "Palatino", serif;
    font-size: 12pt;
}

code {
    font-family: "Monaco", monospace;
}

h1 {
    color: #25385d;
    /* border-top: 3px solid; */
    border-bottom: 3px solid;
    border-color: #1f386b;
    margin-top: 1em;
}  

title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 160%;
    font-weight: bold;
    background-color: #90bbde;
    border: 2px solid #1f386b;
    border-radius: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}  

/* Navigation Bar Styling */
.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Alternating Colors for Items */
.nav-item:nth-child(odd) a {
    background-color: #007bff; /* Blue */
}

.nav-item:nth-child(even) a {
    background-color: #28a745; /* Green */
}

/* Hover Effect */
.nav-item a:hover {
    opacity: 0.8;
}