body {
    font-family: "Palatino", serif;
    font-size: 12pt;
}

code {
    font-family: "Monaco", monospace;
}

h1 {
    color: #1f386b;
    margin-top: 1em;
    font-size: 16pt;
}  

h2 {
    color: #48597e;
    margin-top: 1em;
    font-size: 14pt;
}  

a {
    color: #1f386b;
  }
  
  a:visited{
    color: #1f386b;
  }
  
largertitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    border-bottom: 3px solid;
    border-color: #000000;
    padding-top: .5em;
    padding-bottom: .5em;
}  


.topnav {
    background-color: #07132d;
    color: #ffffff;
    overflow: hidden;
}
.topnav a {
    float: center;
    color: #bdd5e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #bdd5e0;
    color: #07132d;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }