:root {
    --main-color:  #162a52; 
    --main-color-light: #263149;
    --secondary-color: #cae2ee; 
    --secondary-light: #e8f5fb;

    --font-family: "Palatino Linotype", "Palatino", "Book Antiqua", serif;
    --font-code: "Monaco", monospace;
}