<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/photos/thumbernail.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div id="content" style="text-align: left;">
        <div class="topnav" style="text-align: center;">
            <a href="/personal.html" class="no-hover"><img src="/photos/thumbernail.png" width="25" height="25" style="vertical-align: middle;" alt="logo"></a> James "Siyuan" Guo &nbsp; &nbsp;  
            <a href="/index.html">Home</a> | 
            <a href="/cv.html">CV</a> |
            <a href="/notes.html">Notes</a> |
            <a href="/projects.html">Projects</a> |
            <a href="/teaching.html">Teaching</a> |
            <a href="/contact.html">Contact</a>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <div class="largertitle">{{ page.title }}</div>
        </div>
        <br><br>
    {{ content }}
    </div>
    <script>
      document.querySelectorAll('a').forEach(link => {
        if (link.closest('.topnav')) return;

        const href = link.getAttribute('href');
        if (href && href.toLowerCase().endsWith('.pdf')) {
          link.setAttribute('target', '_blank');
        }
      });

      document.querySelectorAll('.no-hover').forEach(el => {
        el.style.cursor = 'default';
      });

    </script>
  </body>
</html>