<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/photos/thumbernail.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script type="text/javascript"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<style>
  #content img:not(.logo) {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.logo {
    height: 25px;
    width: 25px;
    display: inline;
    vertical-align: middle;
  }
</style>

<body>
    <div id="content" style="text-align: left;">
        <div class="topnav" style="text-align: center;">
            <a href="/personal.html" class="logo"> <img src="/photos/thumbernail.png" class="logo" alt="logo"></a> &nbsp; James "Siyuan" Guo &nbsp; &nbsp;  
            <a href="/index.html">Home</a> | 
            <a href="/cv.html">CV</a> |
            <a href="/notes.html">Notes</a> |
            <a href="/projects.html">Projects</a> |
            <a href="/teaching.html">Teaching</a> |
            <a href="/contact.html">Contact</a>
        </div>
        <br>
        <div style="text-align: center;">
            <div class="largertitle">{{ page.title }}</div>
        </div>
    {{ content }}
    </div>
    <script>
      document.querySelectorAll('a').forEach(link => {
        if (link.closest('.topnav')) return;

        const href = link.getAttribute('href');
        if (href && href.toLowerCase().endsWith('.pdf')) {
          link.setAttribute('target', '_blank');
        }
      });
      const textarea = document.getElementById('inputBox');

      function adjustHeight() {
          textarea.style.height = 'auto';
          textarea.style.height = textarea.scrollHeight + 'px';
      }

      // Event listener
      textarea.addEventListener('input', adjustHeight);

      adjustHeight();</script>
<script type="text/javascript"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<script> window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      options: {
        renderActions: {
          addMenu: []
        }
      },
      chtml: {
        scale: 1.0,
        matchFontHeight: false,
        fontURL: ''
      }
    };
</script>
  </body>
</html>